body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  20px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

header{
    background:#354248;
    color:#fff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}


header nav{
    float:right;
    margin-top:10px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}


/*Global*/
.container{
    width:80%; /*Percentage-Responsive*/
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;

}



ul li:hover{
    color:#ccc;
    font-weight:bold;
}


img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.9;
}

img:hover{
    opacity: 1;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#fff;
    background-color:#e8491d;
    text-align: center;
}



/*class*/

.branding{
    text-align: center;
}



.champion{
    float:left;
    width:25%;
}

.champion p{
    font-size: 18px;
}

.img-container{
    height:250px;
    width:250px;
    border: 3px gray solid;
}

.clear{
    clear:both;
}


/*id*/
#jackimg{
    transform:rotate(180deg);
}




@media(max-width:768px){
    .champion,
    header nav,
    header #branding,
    header li,
    .champion,
    .champion p,
    .img-container
    {
       float:none;
       text-align: center;
       width:100%;
    }
}
